@import '../../../../styles/mixins';

.cases {
  .swiper {
    position: static;
  }

  .swiper-initialized {
    @include mq(lg, min) {
      overflow: visible;
    }
  }

  .swiper-wrapper {
    margin-bottom: 30px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 0;
    transform: translateY(80%);

    overflow: hidden;

    width: 40px;
    height: 40px;

    background-color: var(--color-green-400);
    border-radius: 50%;

    &::after {
      @include bg;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);

      width: 22px;
      height: 22px;

      font-size: 0;

      background-image: url('../../../../assets/icons/arrow.svg');

      transition: filter 0.3s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
    }

    &::before {
      @include background-for-hover-animations;
    }

    &:focus-visible {
      background-color: transparent;
      box-shadow: var(--shadow-focus);

      &::before {
        background-color: transparent;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: translate3d(0, 100%, 0);
        }

        &::after {
          filter: invert(93%) sepia(0%) saturate(3497%) hue-rotate(268deg) brightness(108%)
            contrast(101%);
        }
      }
    }

    /* stylelint-disable-next-line */
    @include mq(lg) {
      display: none;
    }
  }

  .swiper-button-disabled {
    opacity: 1 !important;
  }

  .swiper-button-prev {
    right: 0;
    left: unset;
    transform: translate(-150%, 80%);

    &::after {
      transform: translate(-50%, -50%) rotate(270deg);
    }
  }

  .swiper-button-next {
    right: 0;
    left: unset;
  }

  .swiper-pagination-bullets {
    @include flex-normal;

    inset: unset;
    gap: 10px;
    width: 100% !important;
    height: 16px;
  }

  .swiper-pagination-bullet {
    position: relative;

    overflow: hidden;

    margin: 0 !important;

    opacity: 1;
    background-color: var(--color-green-400);

    transition: background-color 0.3s;

    &::before {
      @include background-for-hover-animations($background-color: var(--color-green-100));
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: translate3d(0, 100%, 0);
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-green-400);

    &::before {
      opacity: 1;
      background-color: var(--color-green-400);
    }
  }
}
