:root {
  --color-white: #fff;
  --color-black: #000;
  --color-purple-50: #fbf8ff;
  --color-purple-100: #d7cce5;
  --color-yellow-100: #fffae9;
  --color-yellow-200: #dfd1a2;
  --color-yellow-400: #fddd70;
  --color-orange-100: #e7dcd2;
  --color-red-400: #dd2c01;
  --color-green-50: #f2ffef;
  --color-green-100: #ccdbc9;
  --color-green-400: #3d7d00;
  --color-blue-100: #c2c1c9;
  --color-blue-400: #3d3d66;
  --color-purple-600: #764095;
  --color-dark-700: #130024;

  --shadow-focus: 0 0 0 1px var(--color-green-400);
}
