@import '../../../styles/mixins';

.container {
  position: relative;
}

.field {
  width: 100%;
  padding: 19px 25px;

  background-color: var(--color-white);
  border: 1px solid var(--color-yellow-200);
  border-radius: 10px;

  transition:
    border-color 0.3s,
    background-color 0.3s;

  &::placeholder {
    color: var(--color-blue-100);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-yellow-100);
    }
  }

  &:focus {
    background-color: var(--color-yellow-100);
    border-color: var(--color-purple-600);
    outline: 0;
  }
}

.textarea {
  resize: vertical;
  min-height: 200px;
}

.error {
  padding-right: 60px;
  border-color: var(--color-red-400);
}

.errorMessage {
  position: absolute;
  top: 16px;
  right: 16px;
  transform: translateY(-100%);

  max-width: 200px;
  padding: 12px 20px;

  font-size: 15px;

  background-color: var(--color-white);
  border: 1px solid var(--color-purple-100);
  border-radius: 6px;
}

.buttonShowError {
  position: absolute;
  top: 19px;
  right: 19px;

  width: 24px;
  height: 24px;
}
