@import '../../../styles/mixins';

.card {
  @include flex-direction($align-items: flex-start);

  gap: 20px;

  width: 100%;
  height: 100%;
  padding: 60px;

  border: 1px solid transparent;
  border-radius: 20px;

  /* stylelint-disable-next-line */
  @include mq(md) {
    padding: 20px 40px;
  }
}
